*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}
body {
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1507692049790-de58290a4334?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}

.spacer {
    flex: 1 1 auto;
}
.header{
    display: flex;
    background-color:rgba(34, 30, 30, 0.582) ;
    padding: 10px 24px;
}
.page-header{
    color: #fff;
    margin: auto;
}
.jy-logo {
    border-radius: 50%;
    height:35px;
    width:35px;
    margin-right: 10px;
}

.header nav{
}

.header a{
    display: inline-block;
    color: white; 
    text-decoration: none;
    padding: 8px;
    background-color: ;
}